.block_course_overview_esco .coursechildren {
    font-weight: normal;
    font-style: italic;
}

.block_course_overview_esco .categorypath{
    text-align: right;
}

.dir-rtl .block_course_overview_esco .categorypath{
    text-align: left;
}

.block_course_overview_esco .content {
    margin: 0 20px;
}
.block_course_overview_esco .content .notice {
    margin: 5px 0;
}

.block_course_overview_esco .coursebox {
    /* Modification RECIA
    padding: 15px;
    Fin modification RECIA */
    width: auto;
}

.block_course_overview_esco .profilepicture {
    float: left;
}
.dir-rtl.block_course_overview_esco .profilepicture {
    float:right;
}
.block_course_overview_esco .welcome_area {
    width: 100%;
    padding-bottom: 5px;
}

.block_course_overview_esco .welcome_message {
    float: left;
    padding: 10px;
    vertical-align: middle;
    border-collapse: separate;
    clear: none;
}
.dir-rtl .block_course_overview_esco .welcome_message {
    float:right;
}

.block_course_overview_esco .content h2.title {
    float: left;
    margin: 0 0 .5em 0;
    position: relative;
}
.dir-rtl .block_course_overview_esco .content h2.title {
    float:right;
}

.block_course_overview_esco .course_title {
    position: relative;
}

.editing .block_course_overview_esco .coursebox .cursor {
    cursor: move;
    margin-bottom: 2px;
}

.editing .block_course_overview_esco .move {
    float: left;
    padding: 2px 10px 0 0;
}
.dir-rtl.editing .block_course_overview_esco .move {
    float:right;
    padding: 2px 10px;
}

.block_course_overview_esco .course_list {
    width: 100%;
}

.block_course_overview_esco div.flush {
    clear: both;
}

.block_course_overview_esco .activity_info {
    clear: both;
}
.dir-rtl .block_course_overview_esco .activity_info {
    margin-right: 25px;
}

.block_course_overview_esco .activity_overview {
    padding: 2px;
}
.block_course_overview_esco .course_title .courseimage > img {max-width: 10em; }
.block_course_overview_esco .activity_overview img.iconlarge { vertical-align: text-bottom; margin-right: 6px; }
.dir-rtl .block_course_overview_esco .activity_overview img.iconlarge { margin-left: 6px; margin-right: 0;}

.block_course_overview_esco .singleselect {
    text-align: left;
    margin: 0;
}
.dir-rtl .block_course_overview_esco .singleselect {
    text-align: right;
}

.block_course_overview_esco .content .course_list .movehere{
    margin-bottom: 15px;
}
/* Modification RECIA- Suppression du style de liste */
.block_course_overview_esco .coursebox .teachers li {
list-style-type: none;
}

/* Styles pour gérer l'event plier/déplier les cours */
.block_course_overview_esco div.teachers_reply.fold_reply.plus .block-hider-hide {
    display: none;
}
.block_course_overview_esco div.teachers_reply.fold_reply.plus .block-hider-show {
    background-image: url([[pix:t/collapsed]]);
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 21px;
}
.block_course_overview_esco div.teachers_reply.fold_reply.minus .block-hider-show {
    display: none;
}
.block_course_overview_esco div.teachers_reply.fold_reply.minus .block-hider-hide {
    background-image: url([[pix:t/expanded]]);
    background-position: 0 4px;
    background-repeat: no-repeat;
    padding-left: 21px;
}
div.summary_reply.fold_reply {
    display: none;
}
.block_course_overview_esco ul.teachers.unfolded {
    display: block;
}
.block_course_overview_esco ul.teachers.folded {
    display: none;
}
.block_course_overview_esco div.teachers_reply.fold_reply {
    padding: 3px 15px;
    display: block;
}

@media (max-width: 800px) {
    .block_course_overview_esco div.summary_reply.fold_reply.plus .block-hider-hide{
        display: none;
    }
    .block_course_overview_esco div.summary_reply.fold_reply.plus .block-hider-show{
        background-image: url([[pix:t/collapsed]]);
        background-position: 0 4px;
        background-repeat: no-repeat;
        padding-left: 21px;
    }
    .block_course_overview_esco div.summary_reply.fold_reply.minus .block-hider-show{
        display: none;
    }
    .block_course_overview_esco div.summary_reply.fold_reply.minus .block-hider-hide{
        background-image: url([[pix:t/expanded]]);
        background-position: 0 4px;
        background-repeat: no-repeat;
        padding-left: 21px;
    }
    .block_course_overview_esco div.summary.folded {
        display: none;
    }
    .block_course_overview_esco div.summary.unfolded{
        display: block;
    }
    .block_course_overview_esco div.summary_reply.fold_reply {
        padding: 3px 15px;
        display: block;
    }
    .block_course_overview_esco .coursebox .content {
        padding: 0px;
    }
    .block_course_overview_esco .content {
        margin: 0px;
    }
}
/*Fin modification RECIA */
