/* General configuration */
div.moodle-courses {
    font-size: 1em;
}

/* List item representing a moodle course */
dt.course {
    background: url('../img/moodle-24.png') no-repeat top left;
    height: 8px;
    padding-left: 30px;
    padding-bottom: 20px;
}

/* List item representing detais on a course */
dd.course {
    margin-left: 4em;
}

/* Center the loader */
#loading {
    position: relative;
    left: 50%;
}

/* Hide the tabs at the beginning */
#tabs {
    display: none;
}

